<p>
  <span class="news.title">[% news.title %]</span>
  <span class="news.section">([% news.section %])</span>
</p>

<p>
  <span class="news.post_date">[% MSG( 'news.item.posted_date', OI.date_format( news.posted_on ) ) %]</span>
[%- poster = news.posted_by_user %]
[%- IF poster -%]
  [% user_url = OI.make_url( ACTION = 'user', TASK = 'display',
                             user_id = poster.id ) %]
  <span class="news.author">[% MSG( 'news.item.posted_by', user_url, poster.login_name ) %]</span>
[%- END -%]
</p>

<p class="news.content">
[% IF news.image_src %]
   [%- IF news.image_url %]<a href="[% news.image_url %]">
   [%- END -%]<img src="[% news.image_src %]" border="0" align="[% news.image_align %]">
   [%- IF news.image_url %]</a>[% END -%]
[% END %]
[% news.news_item %]
</p>
