[%- index_url  = OI.make_url( ACTION = 'systemdoc', TASK = 'list' );
    module_url = OI.make_url( ACTION = 'systemdoc', TASK = 'module_list' ) -%]

[%- PROCESS error_message %]

<p align="center" bgcolor="#eeeeee">
<a href="[% index_url %]">[% MSG( 'sys_doc.info.system_doc' ) %]</a> |
<a href="[% module_url %]">[% MSG( 'sys_doc.info.module_listing' ) %]</a>
</p>

[% content %]